.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #007bff;
  }
  
  .title {
    position: absolute;
    top: 0;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  form {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
    background-color: #dee6ed;
    
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  button {
    padding: 10px 20px;
    margin-left: 130px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  footer{
    color: #000;
    position: fixed;
    bottom: 0;
  }
  h1{
    color: #000;
  }